.location-search {
    height: 4rem;
    display: flex;
    flex-direction: column;

    .searchBox {
        background: $search-bg;
        height: 4rem;
        border-radius: 45px;
    }

    .search-error {
        animation: shake 300ms;
    }

    .searchBox:hover>.searchButton {
        background: $white;
        color: $search-bg;
    }

    .searchButton {
        color: $white;
        float: right;
        margin-left: -1.4rem;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: $search-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        border: .4rem solid lighten($bg-color, 3%);
    }

    .searchInput {
        border: none;
        background: none;
        outline: none;
        float: left;
        margin: .8rem 0 0 1rem;
        color: $white;
        font-size: 2rem;
        transition: 0.4s;
        line-height: 40px;
        width: 450px;
        padding: 0 6px;
    }

    .search-svg {
        position: absolute;
        transform: scale(.4);
    }

    @media screen and (max-width: 620px) {
        .searchInput {
            width: 320px;
            padding: 0 6px;
        }
    }

}