//color variables
$white: #eee;
$black: #111;
$bg-color: #223;
$link: #6df;


//Import fonts and set variables
// @import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap);
// $josefin-sans: 'Josefin Sans', sans-serif;
// $lato: 'Lato', sans-serif;